body {
    background-color:whitesmoke;
    
}
section {max-width: 1800px;
    margin: 60px auto;}
.h-cont {
    min-height: 100px;
    background-color: beige;
    display: flex;
    align-items: center;
    
}
.container {vertical-align: middle;}
.light-green {
    background-color: #ccffcc;
}
.green {
    background-color: green;
}
tr .red {
    background-color: red;
    color: #fff;
}
.error {
    color:red;
    font-size: 20px;
    font-weight: 700;
}
.table [data-sort] {
    cursor: pointer;
}
.table [data-sort]::after {
    margin-left: .25rem;
    content: url('data:image/svg+xml;utf8,<svg width=\'6\' height=\'10\' viewBox=\'0 0 6 10\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z\' fill=\'%238898aa\'/></svg>');
}